desktop-app-csharp/client-application/Web References/localhost/ClientService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://endpoint.service/" xmlns:ns1="http://types/" targetNamespace="http://endpoint.service/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8080/ws01/ClientService?xsd=1" namespace="http://types/" />
  <xs:element name="getListOfClients" type="tns:getListOfClients" />
  <xs:element name="getListOfClientsResponse" type="tns:getListOfClientsResponse" />
  <xs:complexType name="getListOfClients">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="getListOfClientsResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="ns1:client" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>